*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color:#F0F2F5;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
   width: 100%; 
   max-width: 985px;
   overflow: hidden;
   position: relative;
   margin: auto;
  /* padding: 0.4rem;
   padding-top: 65px;*/
}

.login_main{
    position: relative;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: url(Assets/authbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.login_main::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background-color: rgba(0,0,0,0.7);
}

.login_section{
    background: white;
    z-index: 2;
    width: 450px;
    overflow-x: hidden;
  /*  overflow: hidden;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
    box-shadow: 2px 4px 16px white;
}

.login_section form {
    width: 80%;
}

form .form_btn{
    width: 100%;
    display: block;
    background: none;
    font-size: 16px;
    padding: 0.6rem 0.3rem;
    border: 1px solid #4158d0;
    border-radius: 2rem;
    position: relative;
    color: #4158d0;
    margin-top: 3rem;
}

form .form_btn:hover{
    font-size: 18px;
    letter-spacing: 3px;
    transition: 0.5s;
    background-color: #4158d0;
    color: white;
}

/* input */
.input-data{
  height: 40px;
  width: 100%;
  position: relative;
  margin: 2rem 0;
}

.input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}

.input-data .linput:focus ~ label,
.input-data .linput:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}

.input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
/*
.input-data .cinput{
    padding: 0.3rem 0.5rem;
}*/

/* end input */

.login_section h6{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 0.6rem;
    color: #7b7b7b;
}

.login_section p{
    font-size: 10px;
    margin-top: 1.4rem;
}

.forgot_passd{
    text-align: right;
    color: #4158d0;
    font-size: 10px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 10%;
    display: block;
}

.have_signup{
    font-size: 14px;
}
